<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/api" method="post">
        <label>
            ФИО:
            <input type="text" name="fullname" required>
        </label><br>

        <label>
            Число:
            <input type="text" name="number" required>
        </label><br>

        <label>
            <input type="radio" name="chosenOperation" value="DecimalToHex" checked>
            Из десятичной в шестнадцатеричную систему
        </label><br>

        <label>
            <input type="radio" name="chosenOperation" value="DecimalToBinary">
            Из десятичной в двоичную систему
        </label><br>

        <label>
            <input type="radio" name="chosenOperation" value="BinaryToDecimal">
            Из двоичной в десятичную систему
        </label><br>

        <button type="submit">Перевести</button>
    </form>
</body>
</html>